.social-likes_horizontal div.social-likes__widget {
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
}

.social-likes_vertical div.social-likes__widget {
    margin: 10px auto 0px auto;;
    width: 60px;
    height: 85px;
    cursor: pointer;
}

.social-likes_vertical div.social-likes__widget:last {
    margin: 0 auto 0px auto;;
    width: 60px;
    height: 85px;
    cursor: pointer;
}

.social-likes__button .social-likes__counter {
    position: absolute;
    top: 10px;
}

.social-likes_vertical .social-likes__button {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: solid 1px #555;
    overflow: hidden;
    color: transparent;
    display: block;
    border-color: transparent;
    border-radius: 10px !important;
    font-size: 0px;
}

.social-likes_vertical .social-likes__counter {
    display: none !important;
    border: transparent;
    width: 60px;
    height: auto;
    text-align: center;
    border-radius: 0px 0px 10px 10px !important;
}

.social-likes__button_facebook {
    background-color: #3b5998;
}

.social-likes_vertical .social-likes__button:before {
    font-size: 31px;
}

.social-likes_horizontal .social-likes__button:before {
    font-size: 14px;
    margin-right: 5px;
}

.social-likes_horizontal .social-likes__widget {
    margin-right: 1em;
    line-height: 1.5;
    cursor: pointer;
}

.social-likes_horizontal span {
    color: #fff;
}

.social-likes_horizontal .social-likes__button {
    padding: .14em .7em .28em .5em;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 5px !important;
}

.social-likes_horizontal .social-likes__icon {
    top: 0;
    left: .21em;
    speak: none;
    text-transform: none;
    font-size: 1.15em;
    vertical-align: baseline;
}

.social-likes__button_facebook:before {
    font-family: FontAwesome;
    font-weight: normal;
    content: "\f09a";
    color: #fff;
}

.social-likes__button_odnoklassniki {
    background-color: #ed812b;
}

.social-likes__button_odnoklassniki:before {
    font-family: FontAwesome;
    font-weight: normal;
    content: "\f263";
    color: #fff;
}

.social-likes__button_vkontakte {
    background-color: #45668e;
}

.social-likes__button_vkontakte:before {
    font-family: FontAwesome;
    font-weight: normal;
    content: "\f189";
    color: #fff;
}

@media (max-width: 1200px) {
    .social-likes_horizontal .social-likes__widget, .social-likes_horizontal .social-likes__button {
        display: block !important;
        width: 100% !important;
        text-align: center;
    }

    .social-likes_horizontal .social-likes__button {
        width: 100% !important;
    }
}

.social-likes_vertical .social-likes__counter:nth-child(2) {
    display: block !important;
}