#social-popup-overlay {
    background-color: rgba(0,0,0, 0.85);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: block;
}

#social-popup-overlay .hidden {
    display: none;
}

#facebook-win {
    z-index: 1002;
    background: #fff;
    padding: 0 0px 0 0px;
    width: 445px;
    font-size: 12px;
    line-height: 16px;
    box-shadow: rgba(0, 0, 0, .2) 0 4px 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translate(-220px,-290px);
}

#facebook-win .hidden{
    top: -1000px;
    left: -1000px;
}

#facebook-win .close {
    float: right;
    width: 19px;
    height: 19px;
    margin-top: 6px;
    background: url("img/fb-close.png");
    cursor: pointer;
    opacity: .5;
}

#facebook-win .title {
    font-size: 18px;
    line-height: 22px;
    background: #3a5897;
    margin: 0;
    padding: 11px 19px 14px 21px;
}

#facebook-win .title p{
    color: #fff!important;
}

#facebook-win p {
    margin: 7px -19px 0 -21px;
    border-top: solid 1px #9daccb;
    padding: 12px 66px 0 22px;
}

#facebook-win .fb-like {
    margin: 0 0 17px;
    padding-bottom: 10px;
}

#facebook-win .for-login {
    background: #f6f7f8;
    padding: 12px 19px 15px;
    margin: 0;
    text-align: center;
}

#facebook-win .for-login .dashed {
    border-style: dashed;
    border-width: 0 0 1px;
    cursor: pointer;
}

#facebook-win .fb-page {
    height: 214px!important;
}