/*

	by LetMeCode.ru
	skype: letmecode.ru
	phone: +7 (938) 500-4-700

*/



/*
	RESET
*/

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/*
	FONTS
*/

/*
	COMMON
*/

html {
	position: relative;
	min-width: 1150px;
	min-height: 100%;
	color: #000;
	white-space: nowrap;
	font-size: 16px;
	font-family: 'Open Sans';
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background: #51e866;
}
body {
	min-height: 100%;
}
.content {
	position: relative;
	margin: 0px auto;
	width: 1100px;
	padding-top: 1px;
	height: 100%;
}
.screen {
	overflow: hidden;
	min-height: 100%;
	width: 100%;
}
::-webkit-input-placeholder {
	color: #777;
}
:-moz-placeholder {
	color: #777;
}
::-moz-placeholder {
	color: #777;
}
:-ms-input-placeholder {
	color: #777;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
input:focus::-ms-input-placeholder {
	color: transparent;
}
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
textarea:focus:-moz-placeholder {
	color: transparent;
}
textarea:focus::-moz-placeholder {
	color: transparent;
}
textarea:focus::-ms-input-placeholder {
	color: transparent;
}
._t1 {
	text-align: center;
	color: #7DEE8D;
	display: none;
	font-size: 18px;
	margin-top: 30px;
}
.btn1 {
    background: #f88686;
    font-size: 21px;
    line-height: 50px;
    cursor: pointer;
}
.btn1:hover {
    background: #FF6060;
}
.edit1 {
    margin-bottom: 13px;
    font-size: 14px;
    padding: 0px 15px;
    border-radius: 2px;
    border: none !important;
    box-shadow: 0px 0px 7px 0px #333;
    color: #333;
}

/*
	P1
*/

.p1 {color: #fff;text-align: center;}
.p1 .logo {
    background: url('../img/logo.png') no-repeat;
    margin: 0px auto;
    width: 379px;
    height: 55px;
    margin-top: 38px;
}
.p1 .t1 {
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: 1.5px 2.598px 7px rgb( 0, 0, 0 );
	padding-top: 46px;
	line-height: 38px;
}
.p1 .bg {
    background: url('../img/p1bg.png') no-repeat;
    margin: 0px auto;
    width: 722px;
    height: 4px;
    margin-top: 25px;
}
.p1 .bg.v2 {
    margin-top: 110px;
    padding-bottom: 101px;
}
.p1 .t2 {
	font-size: 48px;
	color: rgb( 255, 255, 255 );
	text-align: left;
	text-shadow: 1.5px 2.598px 7px rgb( 0, 0, 0 );
	margin-left: 132px;
	margin-top: -52px;
	position: relative;
	z-index: 1;
}
.p1 .t2 span {
	background: url('../img/p1i1.png') no-repeat;
	width: 258px;
	height: 127px;
	display: inline-block;
	padding: 0px 20px;
	position: relative;
	top: 46px;
	left: 17px;
}
.p1 .t3 {
  font-size: 48px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1.5px 2.598px 7px rgb( 0, 0, 0 );
  margin-top: 11px;
  position: relative;
  z-index: 1;
}
.p1 .i1 {}
.p1 .i2 {
    background: url('../img/p1i2.png') no-repeat;
    width: 351px;
    height: 454px;
    position: absolute;
    bottom: -119px;
    margin-left: -175.5px;
    left: 50%;
}
.p1 .b1 {
    background: url('../img/p1b1.png') no-repeat;
    margin: 0px auto;
    width: 915px;
    height: 112px;
    margin-top: 38px;
}
.p1 .t4 {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 5px;
	line-height: 39px;
}

/*
	P2
*/

.p2 {
    background: url('../img/p2.png') no-repeat 50% 0px;
    height: 316px;
    position: relative;
    color: #fff;
}
.p2 .b1 {
    padding-top: 45px;
    margin-left: 51px;
    float: left;
}
.p2 .t1 {
    font-size: 18px;
    line-height: 25px;
}
.p2 .t1 span {
    font-style: italic;
}
.p2 .t2 {
    font-size: 24px;
    margin-top: 21px;
    line-height: 24px;
    position: relative;
}
.p2 .t2 span {
    width: 34px;
    display: inline-block;
}
.p2 .i1 {
    background: url('../img/p2i1.png') no-repeat;
    width: 142px;
    height: 63px;
    position: absolute;
    left: 480px;
    
    top: 10px;
}
.p2 .b2 {
    float: right;
    margin-right: 52px;
    margin-top: 52px;
    width: 361px;
}
.p2 .btn1 {
    margin-top: 24px;
}
.p2 .edit1 {
    height: 36px;
}

/*
	P3
*/

.p3 {
    background: #fff;
    text-align: center;
    color: #222222;
}
.p3 .content {
	background: none;
}
.p3 .t1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 46px;
}
.p3 .b1 {
    display: inline-block;
    vertical-align: top;
    width: 248px;
    margin-top: 40px;
}
.p3 .i1 {
	background: url('../img/p3i1.png') no-repeat;
	margin: 0px auto;
	width: 109px;
	height: 105px;
}
.p3 .t2 {font-weight: 300;margin-top: 16px;line-height: 20px;}
.p3 .bg {
	background: url('../img/p3bg.png') no-repeat;
	margin: 0px auto;
	width: 772px;
	height: 4px;
	margin-top: 51px;
}
.p3 .t3 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 42px;
    line-height: 29px;
    padding-bottom: 60px;
}
.p3 .t3 span {
    color: #2e75cc;
    border-bottom: 1px solid;
    line-height: 26px;
    display: inline-block;
}

/*
	P4
*/

.p4 {
    color: #fff;
}
.p4 .t1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding-top: 51px;
}
.p4 .bg {
    background: url('../img/p1bg.png') no-repeat;
    margin: 0px auto;
    width: 722px;
    height: 4px;
    margin-top: 25px;
    margin-bottom: 34px;
}
.p4 .i1 {
	background: url('../img/p4i1.jpg') no-repeat;
	width: 290px;
	height: 381px;
	float: left;
	margin-left: 50px;
}
.p4 .b1 {
    margin-left: 373px;
    padding-bottom: 24px;
}
.p4 .t2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 20px;
}
.p4 .t3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 31px;
}

/*
	P5
*/

.p5 {
    background: url('../img/p5.jpg') no-repeat 51% 0px;
    height: 429px;
}
.p5 .t1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    padding-top: 49px;
    line-height: 38px;
}
.p5 .b1 {
    margin: 0px auto;
    width: 360px;
    margin-top: 42px;
}
.p5 .btn1 {
    margin-top: 23px;
    color: #fff;
}
.p5 .edit1 {
    height: 36px;
}

/*
	FOOTER
*/

.footer {
    background: #222222;
    color: #8c918e;
    text-align: center;
}
.footer .content {
	background: none;
}
.footer .b1 {}
.footer .t1 {
    display: inline-block;
    color: #8c918e;
    text-decoration: none;
    font-size: 14px;
    margin: 0px 9px;
    padding-top: 22px;
}
.footer .t2 {
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 40px;
}

/*
	POPUP_POLICY
*/

#popup_policy {
	width: 800px;
	height: 460px;
	background: #FEFEFE;
	border: 5px solid #3d3d3d;
	position: relative;
	text-align: left;
}
#popup_policy .b1 {
	width: 740px;
	margin: 20px auto;
	height: 420px;
	overflow-y: auto;
	white-space: normal;
	padding-right: 20px;
	color: #3d3d3d;
	font-size: 14px;
}
#popup_policy .t1 {
	text-align: center;
	clear: both;
	font-size: 20px;
	font-weight: bold;
	margin: 6px auto;
}
#popup_policy .t2 {
	margin: 6px auto;
}
#popup_policy .t3 {
	clear: both;
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: -6px;
}
#popup_policy .c1 {
	background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAMAAADX9CSSAAAAvVBMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////jSrqQAAAAPnRSTlMAAQIDBAYQERMVFxkbHiAjJjI5PD9DZWltbnN0d3h5fH2DhJmen6OnqKu9wcLKzc/U2d3f4eTw8fP19vj9/iKG1OoAAACsSURBVHjadZLXEoJADEWvvWIvCNix9y4q+f/PUrYNMOt5y5nMTvYmYJTqECSmXSjKp3sDjJRLvim1cSZ6NJme0w+L68olKJ4tIL0ghhPo6pUXXjuzIsEQqN1k4W1IMcaadPRRPGq0DaBwiFu/h4D8Pqblz3K7iO5AYrxD3lU6G+n/8H79+/p5TEA/v4U//3VC+by2pJjo8xzF8l9yPdDvy9bsdyZSi99DUtzDF4nyUEf7BoCqAAAAAElFTkSuQmCC');
	background-position: 50% 50%;
	width: 31px;
	height: 31px;
	position: absolute;
	right: -30px;
	top: -30px;
	opacity: 0.8;
	cursor: pointer;
}
#popup_policy .c1:hover {
	opacity: 1;
}
#popup_policy .c1:active {
	opacity: 0.6;
}
