@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,700&subset=cyrillic,cyrillic-ext,latin);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic);

body {
	font-family: 'Open Sans', sans-serif;
	color: #777;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 48px;
	padding-top: 20px;
	text-shadow: 0 1px 4px gray;
}

h1, h2, h3 {
	font-weight: bolder;
}

h2, h3, h4, h5, h6 {
	color: #333;
	text-align: center;
}

h1, h2 {
	margin-bottom: 30px;
}

.header {
	background-image: url(../images/academy/header-bg-02.jpg);
    background-repeat: no-repeat;
    background-position: 0% top;
    background-size: cover;
    background-attachment: fixed !important;
    background-color: rgba(0, 0, 0, 0);

    color: #FFF;
}

.heroitem {
	padding-top: 50px;
}

	.heroitem p {
		text-transform: uppercase;
		font-size: 18px;
		text-shadow: 0 0 2px #777;
	}
	.ctaform p {
		color: #777;
		margin-top: 10px;
	}

.who, .steps, .testimonials {
	padding-top: 30px;
	padding-bottom: 30px;
}

.about H3 {
	text-align: left !important;
}
.starrating i {
	padding-left: 2px;
	color: #FFB300;
}

.target {
	overflow: hidden;
}

.target img {
	width: 100%;
}
.target H3 {
	text-align: left;
}

.textwrap {

}

.ctaform {
	padding: 15px;
	padding-bottom: 30px;
	background-color: #FFF;
}
.ctaform h3 {
	color: #f27242;
	font-size: 28px;
	margin-bottom: 30px;
	text-align: center;
}

.ctaform input {
	padding: 12px 10px;
	color: #777;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	padding: 12px 10px;
    color: #777;
    background: #f1f1f1;
    /*border: 1px solid rgba(255,255,255,0);*/
    height: 50px;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow:none;
}
.ctaform .btn{
	padding:14px 0;
	box-shadow:none;
	border:none;
	width: 100%;
	background-color: #f00a77;
	color: #FFF;
	text-transform: uppercase;

}
.funfacts {
	text-align: center;
	background-color: #f27242;
	color:#fff;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 30px;
}
.funnumber {
	font-size: 60px;
	font-weight: bolder;
}
.funfact {
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 30px;
}
.steps {

}

.step {
	font-size: 64px;
	text-align: center;
	background-color: #f27242;
	color: #FFF;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	font-weight: bold;
	/*text-shadow: 1px 1px 1px #602d1a;*/
}

.testimonials {
	text-align: center;
}

.avatar {
	border-radius: 50%;
	border: 2px solid #f27242;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.testimonials p {
	font-size: 20px;
}

.quote {
	color:#f27242;
	font-size: 48px!important;
	display: block;
	margin-bottom: 20px;
}

.name {
	color: #f27242;
	font-family: 'Open Sans Condensed', sans-serif;
}

.lastcall {
	text-align: center;
	background-color: #f7f7f7;
	padding-top: 30px;
	padding-bottom: 60px;
}

.lastcall .btn {
	padding: 14px;
    box-shadow: none;
    border: none;
    background-color: #f00a77;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 30px;
}

.footer {
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #222;
}
.footer-social {
	text-align: right;
}

.footer li {
	display: inline-block;
	margin-right: 5px;
	text-decoration: none;
	list-style: none;
}

.footer-social li a {
	font-size: 20px;
    color: #fff;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.footer-social li a i {
    line-height: 1.8;
}

.subline {
	width: 140px;
	height: 2px;
    background: #f27242;
    margin: 15px auto 10px;
    margin-bottom: 30px;
}

.scroll-arrow {
    bottom: 24px;
    left: 50%;
    z-index: 10;
    font-size: 40px;
    text-align: center;
  }
.scroll-arrow a {
	color: #ffffff;
}


@media (min-width: 768px) {
  	.header {
	  	padding-top: 0px;
	  	padding-bottom: 30px;
  	}
}

@media (min-width: 992px) {
  	.header {
	  	padding-top: 100px;
	  	padding-bottom: 100px;
  	}
}

@media (min-width: 1200px) {
	.header {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.carousel-inner .item{
	outline: none
}

.wf-sortable{
	padding-left: 0px;
}

.wf-sortable input{
	border: 1px solid rgb(204, 204, 204);
	width: 100%;
}